# Backend Dependencies
fastapi
uvicorn
pydantic
requests
python-dotenv
fastapi-cors # If using CORS middleware
httpx # Required by FastAPI for async requests

# Standard Utility Libraries
uuid  # Generates unique IDs
functools  # Caching & optimization
typing  # Type hinting

# Frontend Dependencies (Streamlit)
streamlit
# for huggingface model
huggingface_hub
